NEXT_PUBLIC_RAZORPAY_KEY_ID=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

MONGODB_URI=

AUTH_SECRET=

GROQ_API_KEY=
NEXT_PUBLIC_API_URL=

JINA_API_KEY=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
EMAIL_FROM=